- @page_title = "Promos"

= content_for :header do
  //%p.buttons=link_to "New Promo Code", :new_promocode, :class => 'button green'
  %h2.products Promos

.table
  %table.data
    %thead
      %tr
        %th Title
        %th Code
        %th Discount
        %th Usage Limit
        %th Times Used
        %th Status
    %tbody
      - if @promos.empty?
        %tr.empty
          %td{colspan: 6} No promo codes to display.
      - else
        - for code in @promos
          %tr
            %td= link_to code.title, [:edit, code]
            %td= code.code
            %td #{code.discount_value}#{code.display_discount_type}
            %td= code.usage_limit
            %td= code.times_used
            %td= code.active? ? "Active" : "Not active"